node_modules
.next
dist
build
*.log
.env
.env.local
.env.production
.env.staging
.DS_Store
.vscode
.idea
coverage
prisma/migrations/*/migration.sql.bak
*.tsbuildinfo
.turbo
.pnpm-store
# Tests build artifacts
**/*.js.map
**/*.js
!apps/api/jest.config.js
!apps/web/src/**/*.js
!apps/api/nest-cli.js
